# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

node_modules
package-lock.json
.DS_Store
assets/seapixel.min.css

.env
.env.*

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
