body {
	color: $dark;
}

h1,
h2,
h3 {
	font-family: Urbanist;
	line-height: 1.1em;
	letter-spacing: 0em;
	font-weight: 600;
}

h2 {
	font-size: 58px;
}
@include break($mobile) {
	h2 {
		font-size: 32px;
	}
}