body {
	color: $dark;
}

h1,
h2,
h3 {
	font-family: Urbanist;
	line-height: 1.1em;
	letter-spacing: 0em;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
}

@include break($min-mobile) {
	h2 {
		font-size: 2.5rem;
	}
}
@include break($min-medium) {
	h2 {
		font-size: 2.75;
	}
}
@include break($min-large) {
	h2 {
		font-size: 3rem;
	}
}