.img-border-offset {
	position: relative;
	z-index: 1;
	padding-right: 15%;
	padding-bottom: 15%;

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
		width: 85%;
		height: 85%;
		border: 1px solid #6490B2;
		border-radius: 1rem 1rem $border-radious-lg 1rem;
	}

	img {
		width: 100%;
	}

	@include break($medium) {
		padding-right: 10%;
		padding-bottom: 10%;

		&:after {
			width: 90%;
			height: 90%;
			border-radius: 1rem 1rem $border-radious-md 1rem;
		}
	}

	@include break($mobile) {
		padding-right: 5%;
		padding-bottom: 5%;

		&:after {
			width: 95%;
			height: 95%;
			border-radius: 1rem 1rem $border-radious-sm 1rem;
		}
	}
}
.image-scale-on-hover {
	transition: transform 0.3s;
	&::after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: #121212;
	  opacity: 0;
	  transition: opacity 0.3s;
	  border-radius: 16px;
	}
  
	&:hover {
	  transform: scale(1.01);
  
	  &::after {
		opacity: 0.2;
	  }
	}
  }