.border-radius {
	border-radius: 1rem;

	&.top-left-lg {
		border-top-left-radius: $border-radious-lg;
	}

	&.bottom-right-lg {
		border-bottom-right-radius: $border-radious-lg;
	}

	@include break($medium) {
		&.top-left-lg {
			border-top-left-radius: $border-radious-md;
		}

		&.bottom-right-lg {
			border-bottom-right-radius: $border-radious-md;
		}
	}

	@include break($mobile) {
		&.top-left-lg {
			border-top-left-radius: $border-radious-sm;
		}

		&.bottom-right-lg {
			border-bottom-right-radius: $border-radious-sm;
		}
	}
}
.font-the-seasons {
	font-family: 'the-seasons';
}
.letter-wider {
	letter-spacing: 0.25em;
}