<style>
    .top-announcement-bar {
        background-color: {% if section.settings.top_announcement_bar_bg_color != blank %}{{ section.settings.top_announcement_bar_bg_color }}{% endif %};
        position: relative;
        z-index: 2;
    }

    .top-announcement-bar .top-announcement-bar-text {
        color: {{ section.settings.top_announcement_bar_text_color }};
        padding: {{ section.settings.top_announcement_bar_padding }}px 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }
</style>

{% if section.settings.top_announcement_bar_enabled %}
    <div class="top-announcement-bar">
        <div class="d-block text-center top-announcement-bar-text">
            {{ 'sections.black-week-offer-text.collection_page_title' | t }}
        </div>
    </div>
{% endif %}


{% schema %}
{
    "name": "TopBar For Collections",
    "settings": [
        {
            "type": "checkbox",
            "id": "top_announcement_bar_enabled",
            "label": "Enabled ?",
            "default": false
        },
        {
            "type": "color",
            "id": "top_announcement_bar_bg_color",
            "label": "Background Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "top_announcement_bar_text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "top_announcement_bar_padding",
            "label": "Vertical Padding",
            "min": 10,
            "max": 110,
            "step": 1,
            "unit": "px",
            "default": 15
        }
    ],
    "presets": [
        {
            "name": "TopBar For Collections"
        }
    ]
}
{% endschema %}
