.hero-collection-slider .swiper {
  width: 100%;
  height: 100%;
}
.hero-collection-slider .hb .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-collection-slider .hb .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-slider-h2 {
  color: rgba(33, 33, 33, 1);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.collection-slider-h4 {
  color: rgba(84, 110, 122, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.collection-slider-h3 {
  color: rgba(84, 110, 122, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.collection-slider-image {
  width: 100%;
}
.h-50-vh {
  height: 50vh!important;
}
.collection-slider-wrapper {
  background-color: #fff;
  padding: 10%;
}
.custom-circle-border-radius {
    border-radius: 50px;
}
.hero-collection-slider .swiper-pagination-bullet {
    background: rgba(100, 144, 178, 1) !important;
}
.mw-90vw {
    max-width: 90vw;
}
.mx-5-percent {
    margin-left: 5%;
    margin-right: 5%;
}
.collection-slider-image {
    border-radius: 16px 16px 16px 16px;
}

@media (min-width: 768px) {
    .hero-collection-slider .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
        right: var(--swiper-pagination-right, 38px);
    }
    .collection-slider-image {
        border-radius: 190px 16px 16px 16px;
    }
    .align-items-md-normal {
      align-items: normal !important;
    }
    .hero-collection-slider {
      height: 28rem;
    }
    .collection-slider-h2 {
      font-size: 40px;
    }
}
@media (min-width: 992px) {
  .hero-collection-slider {
    height: 35rem;
  }
  .collection-slider-h2 {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  .hero-collection-slider {
    height: 38rem;
  }
  .collection-slider-h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
    .mx-xs-sm-0 {
      margin-left: 0%;
      margin-right: 0%;
    }
    .custom-circle-border-radius{
      border-radius: 0;
    }
    .hero-collection-slider .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
      top: auto;
      bottom: 0;
  }
}