.open.unclickable-div {
    pointer-events: none;
}
.faq-content {
    /* Adjust styles for the content at the top */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width as needed */
    background-color: #fff; /* Set background color */
    /* Add other styles like padding and margin */
}
#accordion-button-hover a:hover {
    color:black !important;
}
.section-accordion .accordion-button::after {
    background-image: url(https://cdn.shopify.com/s/files/1/0591/2130/3625/files/Arrow_-_Closed_D.svg?v=1710344278)!important;
    background-size: 100% !important;
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
}
.section-accordion .accordion-button:not(.collapsed)::after {
    transform: rotate(270deg);
}
.section-accordion .accordion-button:not(.collapsed) {
    background-color: transparent!important;
}
.section-accordion .accordion-button:focus {
    box-shadow: none;
}
.section-accordion .nav-link.active {
    background-color: transparent!important;
    color: #121212!important;
    font-weight: 300;
}
.section-accordion .nav-link.active .accordion-icon {
    transition: transform 0.3s ease!important;
}
.section-accordion .nav-link.active .accordion-icon {
    transform: rotate(45deg);
    transition: transform 0.3s ease!important;
}
.section-accordion .nav-link {
    border-bottom: 1px solid #CFD8DC;
    border-radius: 0!important;
    font-size: 24px;
    font-family: 'Urbanist';
    padding: 20px 0;
    color: #455A64;
}
.section-accordion .tab-pane.active {
    font-weight: 300;
}
