.open.unclickable-div {
    pointer-events: none;
}
.faq-content {
    /* Adjust styles for the content at the top */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width as needed */
    background-color: #fff; /* Set background color */
    /* Add other styles like padding and margin */
}
.accordion-margins {
    margin: 120px auto;
}
#accordion-button-hover a:hover {
    color:black !important;
}
@media (max-width: 992px) {
    .accordion-margins {
        margin: 80px auto;
    }
}