.template-cart .cart-img {
    height: 120px;
    max-width: 120px;
    aspect-ratio: 1/1;
}
.template-cart .cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.drawer-cart-img {
    height: 100px;
    max-width: 100px;
}
.drawer-cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.drawer-quantity-box .input-group-prepend a {
    background: none;
    border-right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.drawer-quantity-box .input-group-append a {
    background: none;
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.drawer-quantity-box .quantity {
    margin-left: 0;
    margin-right: -5px;
    border-right: 0;
    border-left: 0;
    padding: 10px !important;
    position: unset;
    font-size: 16px;
    font-family: 'Roboto';
    text-align: center !important;
}
.btn-drawer-cart {
    background-color: #121212;
    border-radius: 50px;
    border-color: #121212;
}
.btn-drawer-cart:hover {
    background-color: #fff;
    color: #121212;
    border-color: #121212;
}
.btn-drawer-cart:active {
    background-color: #121212!important;
    border-color: #121212!important;
}
.show-cart-btn {
    border: 0!important;
}
.show-cart-btn:active {
    border: 0!important;
}
.drawer-cart-header {
    background-color: #121212;
}
.drawer-cart-header h2 {
    color: #fff;
}
.drawer-cart-header .btn-close {
    color: #fff;
    opacity: 1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")!important;
}
.cart-drawer .cart-total .money {
    font-weight: 600;
}
.template-cart .quantity-wrapper {
    max-width: 160px;
}
.template-cart .quantity-wrapper .input-group-text {
    border: 0;
    background: 0;
}
.template-cart .quantity {
    border: 0;
    padding: 0!important;
    margin: 0;
    font-size: 18px;
    text-align: center!important;
    font-family: 'Roboto';
}
.template-cart .remove-cart-icon {
    text-align: center;
}
.template-cart .remove-cart-icon span {
    font-size: 14px;
    
}
.template-cart .cart-price span {
    font-size: 20px;
    font-weight: 600;
}
.template-cart .cart-total {
    height: fit-content;
    padding: 30px;
    border: 1px solid #ECEFF1;
    margin-top: 0!important;
    border-radius: 16px;
}
.template-cart .cart-total .total-text {
    font-size: 18px;
    color: #607D8B;
}
.template-cart .cart-total .money {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.template-cart .cart-total .cart-total-text-wrapper h5 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.template-cart .cart-total .cart-total-text-wrapper p {
    font-size: 14px;
    color: #607D8B;
    margin-bottom: 1.5rem;
}
.template-cart #cart-checkoutbtn a {
    background-color: #131E27;
    border-radius: 50px;
}
.template-cart #cart-checkoutbtn a:hover {
    background-color: #fff;
    color: #131E27;
}
.template-cart .cart-total .shipping-text {
    font-size: 16px;
    color: #607D8B;
}