.jdgm-carousel-number-of-reviews {
    text-align: center!important;
}
.jdgm-carousel-title, .jdgm-all-reviews-rating-wrapper {
    text-align: center!important;
}
h2.jdgm-carousel-title {
    text-align: center!important;
}
.jdgm-carousel-title-and-link .jdgm-all-reviews-rating {
    display: none!important;
}
.navbar-brand img {
    width: 100%;
}
.navbar-brand {
    padding: 20px 0;
    margin-right: 2vw;
}
.navbar-main .nav-item.active > .nav-link {
    color: #dfeef7;
}
.navbar-main .nav-item .nav-link:hover {
    color: #dfeef7;
}
.navbar-main .nav-item .nav-link {
    color: #fff!important;
}
.cart-count {
    background: #dfeef7;
    color: #1f3951;
}
.shopify-section-header-sticky {
    background: #000;
}
footer .social-links li a {
    background-color: transparent!important;
}
.footer-bottom::after {
    content: '';
    color: #fff;
    width: 90%;
    height: 1px;
    position: absolute;
    top: 0;
    border-top: 1px solid white;
    left: 50%;
    transform: translateX(-50%);
}

.first-child:first-child {
    max-width: 100%;
    flex: 0 100%;
}
.first-child:first-child img {
    max-height: 400px;
    object-fit: cover;
}
.blog-cards img {
    border-radius: 10px;
}
.blog-cards h4 a {
    color: #6490b2;
}
.sidebar-blog .card {
    border: 0;
}
.sidebar-blog .card-header {
    border: 0;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
}
.sidebar-blog .card-body span {
    color: #122230;
    background-color: transparent;
}
.language-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}
.drawer-footer {
    display: flex;
    justify-content: space-between;
}
.language-button.active {
    color: #000; /* Highlight the active button */
}
.separator {
  margin: 0 5px;
}
.navbar-mobile:not(.navbar-mobile-secondary) {
    border-top: none!important;
}
.cart-drawer .progress-bar, .cart-page .progress-bar {
    background-color: #6490b2;
}
.image-info-wrapper, .image-slider-wrapper {
    padding: 100px;
    background-size: contain!important;
}
.info-content, .product-content {
    margin-top: 20px;
}
.video-with-text video {
    filter: brightness(0.7);
}

#shopify-block-77deb394-fca6-4cc3-bae8-aed05c4431ce {
  background-image: url('https://cdn.shopify.com/s/files/1/0591/2130/3625/files/blue-matress.jpg?v=1699609198'); /* Add the path to your background image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.drawer-header {
    background-color: #131e27!important;
}
.drawer-header .icon-close:before {
    color: #fff!important;
}
@media screen and (min-width: 768px) {
    
}
@media screen and (max-width: 767.98px) {
    
}
@media screen and (min-width: 992px) {
    .language-button {
        color: #fff;
    }

    .language-button.active {
        color: #fff;
        border-bottom: 1px solid;
    }
    .separator {
        color: #fff;
    }
}