.contact-form-container {
    transform: translateY(-200px);
    background: #fff;
    border-radius: 16px;
    box-shadow: 6px 2px 9px 8px #0000001A;
    padding: 5%;
}
.contact-form-container .btn-primary {
    background-color: #131E27;
    border-radius: 50px;
}
.contact-form-container .btn-primary:hover {
    background-color: #fff;
    color: #131E27;
}
.contact-form-container .form-control {
    border-radius: 50px;
}
.contact-form-container .form-control:last-child {
    border-radius: 16px;
}
@media only screen and (max-width: 575px) {
    .contact-form-container .contact-links a {
        font-size: 14px;
    }
}