.collection-grid-blocks .card-collection img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 16px;
}

.banner-image-with-text {
	padding: 2rem;
}

.banner-image-with-text-heading {
	font-size: 2rem;
}

@media only screen and (min-width: 992px) {
	.banner-image-with-text {
		padding: 9rem 0 16rem 0;
	}
	.banner-image-with-text-heading {
		font-size: 3.5rem;
	}
}
