main {
    min-height: 61vh;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.wishlist__product-img {
    padding-top: 90%!important;
}
.wishlist__product-img img {
    border-radius: 16px;
}
.cky-revisit-bottom-left {
  bottom: 60px!important;
  left: 8px!important;
}
#hulk-model {
    padding-top: 150px!important;
}
.hulk-powered-wrapper, .hulk-powered-wrapper-qa {
    display: none;
}
.hulk-sidebar-widget[data-position=bottom_left], .hulk-sidebar-widget[data-position=bottom_right] {
    bottom: 1%!important;
    padding: 12px!important;
}
.hulk-sidebar-widget .heart-hulk-animation {
    margin: 5px!important;
}
.hulk-sidebar-widget .heart-hulk-animation .icon-wishlist-heart-empty:before {
    margin: 0!important;
}
.german .german-quiz, .dutch .dutch-quiz, .english .english-quiz {
    display: inline-block;
}
.german-quiz, .dutch-quiz, .english-quiz {
    display: none;
}
.german .breadcrumbs__link.german-home, .dutch .breadcrumbs__link.dutch-home, .english .breadcrumbs__link.english-home {
    display: inline;
}
.breadcrumbs__link.german-home, .breadcrumbs__link.english-home, .breadcrumbs__link.dutch-home {
    display: none;
}
.hulk_cookie_bar button.bar_btn, .hulk_cookie_bar button.deny_btn, .hulk_cookie_bar button.bar_btn_deny {
    font-weight: 400!important;
}
.collection-filters .btn {
    background: #121212;
    color: #fff;
    border: 1px solid #121212;
    border-radius: 50px;
}
.collection-filters .btn:hover {
    background: #fff;
    color: #121212;
    border: 1px solid #121212;
}
.collection-filters .btn:focus {
    background: #fff;
}
#filter-drawer, #sortby-drawer {
    background: #121212;
    color: #fff;
    border: 1px solid #121212;
    border-radius: 50px;
}
#filter-drawer:hover, #sortby-drawer:hover {
    background: #fff;
    color: #121212;
    border: 1px solid #121212;
}
.video-with-text-position {
    position: relative;
    bottom: 105px;
}
.custom-class {
    background: #131E27;
}
.template-index .normal-header {
    background: transparent;
}
.normal-header {
    background: #131E27;
}
.nav-link .active {
    background-color: #fff!important;
    color: #121212!important;
}
.jdgm-carousel-number-of-reviews {
    text-align: center!important;
}
.jdgm-carousel-title, .jdgm-all-reviews-rating-wrapper {
    text-align: center!important;
}
h2.jdgm-carousel-title {
    text-align: center!important;
    padding-bottom: 2rem;
}
.jdgm-carousel-title-and-link .jdgm-all-reviews-rating {
    display: none!important;
}
.jdgm-write-rev-link, .jdgm-submit-rev {
    background: #121212!important;
    border-color: #121212!important;
    border-radius: 45px!important;
}
.jdgm-cancel-rev {
    color: #121212!important;
    border-color: #121212!important;
    border-radius: 45px!important;
}
.jdgm-rev__icon:not(.jdgm-rev__avatar):before, .jdgm-rev__author, .jdgm-sort-dropdown, .jdgm-sort-dropdown-arrow {
    color: #121212!important;
}
.jdgm-form__fieldset input:focus, .jdgm-form__fieldset textarea:focus {
    border-color: #121212!important;
}
.jdgm-carousel-item__inner-wrapper {
    border-radius: 16px!important;
}
.jdgm-carousel__right-arrow, .jdgm-carousel__left-arrow {
    margin-top: -135px!important;
}
.navbar-brand img {
    width: 100%;
}
.navbar-brand {
    padding: 20px 0;
}
.german .navbar-brand {
    margin-right: 7vw;
}
.dutch .navbar-brand {
    margin-right: 4vw;
}
.english .navbar-brand {
    margin-right: 3vw;
}
.navbar-main .nav-item.active > .nav-link {
    color: #dfeef7;
}
.navbar-main .nav-item .nav-link:hover {
    color: #dfeef7;
}
.navbar-main .nav-item .nav-link {
    color: #fff!important;
}
.cart-count {
    background: #6490b2;
    color: #fff;
}
.shopify-section-header-sticky {
    background: #131E27;
}
footer .social-links li a {
    background-color: transparent!important;
}
.footer-bottom::after {
    content: '';
    color: #fff;
    width: 90%;
    height: 1px;
    position: absolute;
    top: 0;
    border-top: 1px solid white;
    left: 50%;
    transform: translateX(-50%);
}

.first-child:first-child {
    max-width: 100%;
    flex: 0 100%;
}
.first-child:first-child img {
    max-height: 400px;
    object-fit: cover;
}
.blog-cards img {
    border-radius: 10px;
}
.blog-cards h4 a {
    color: #37474F;
}
.sidebar-blog .card {
    border: 0;
}
.sidebar-blog .card-header {
    border: 0;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
}
.sidebar-blog .card-body span {
    color: #122230;
    background-color: transparent;
}
.language-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}
.drawer-footer {
    display: flex;
    justify-content: space-between;
}
.language-button.active {
    color: #000; /* Highlight the active button */
}
.separator {
  margin: 0 5px;
}
.navbar-mobile:not(.navbar-mobile-secondary) {
    border-top: none!important;
}
.cart-drawer .progress-bar, .cart-page .progress-bar {
    background-color: #6490b2;
}
.image-info-wrapper, .image-slider-wrapper {
    padding: 100px;
    background-size: contain!important;
}
.product-content {
    margin-top: 20px;
}
.video-with-text video {
    filter: brightness(0.7);
}

#shopify-block-77deb394-fca6-4cc3-bae8-aed05c4431ce {
  background-image: url('https://cdn.shopify.com/s/files/1/0591/2130/3625/files/blue-matress.jpg?v=1699609198'); /* Add the path to your background image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.drawer-header {
    background-color: #131e27!important;
}
.drawer-header .icon-close:before {
    color: #fff!important;
}
.info-slider-section .swiper-container {
    color: #546E7A;
}

.info-slider-section .info-card {
    border: 1px solid #ECEFF1;
    border-radius: 16px;
}
.info-slider-section .info-content {
    font-size: 16px;
    text-align: left;
}
.info-slider-section .swiper-pagination-bullet-active {
    background: #6490b2!important;
}
.info-slider-section .swiper-pagination-bullet {
    margin: 0 10px!important;
}
.info-slider-section h5 {
    color: #546e7a;
}

/* -=-=-==-=-==--=-=- 
Template Product Collection
-=-=--==-==-===-==-=--*/

.template-collection .card-img img {
    border-radius: 16px;
}
.template-collection .wishlist-hero-custom-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffffff7a;
    border-radius: 50%;
    z-index: 1;
}

/* -=-=-==-=-==--=-=- 
Quiz Button
-=-=--==-==-===-==-=--*/

.underline-btn {
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    overflow: hidden;
}

.underline-btn:hover {
    color: #6490b2;
    background: transparent;
    border-radius: 0;
}
.all-collection-banner .underline-btn::before {
    background-color: #fff;
}
.underline-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6490b2;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.underline-btn:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.collection-grid-blocks .card-collection img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.btn-quiz {
    background: #131e27;
    border: 0;
    color: #fff;
    padding: 14px 20px;
    border-radius: 50px;
}

/* =-=-=-=-=-=-=-=-=-
    Search Template
-=-=-=-=-=-=-=-=-=-=- */

#search-product-grid .card-product .card-img>a {
    position: unset;
    padding: 0;
    aspect-ratio: 1/1;
}

#search-product-grid .card-product .card-img>a img {
    position: unset;
    border-radius: 16px;
}

.search-template-section .form-control {
    font-family: 'Roboto';
    border-top-left-radius: 16px!important;
    border-bottom-left-radius: 16px!important;
}
.search-template-section .form-control:focus {
    box-shadow: none;
}
.search-template-section .btn-primary {
    text-transform: capitalize;
    background-color: #121212;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.search-template-section .btn-primary:hover {
    background-color: #fff;
    color: #121212;
}
.search-template-section .btn:active {
    background-color: #121212!important;
    border-color: #121212;
}
.header__search {
    scale: 0;
    transition: .3s;
}
.header__search.open__modal {
    scale: 100%;
    transition: .3s;
}
.search-modal__content .icon-search, .search-modal__content .icon-close {
    color: #fff;
}
.search-modal__content .modal__close-button {
    height: unset;
    width: unset;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
}
.search__input {
    font-family: 'Roboto';
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
}
.search__input:focus {
    background: #131e27;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
}
.search__input::placeholder {
    color: #fff;
}

/* =-=-=-=-=-=-=-=-=-
    Account Template
-=-=-=-=-=-=-=-=-=-=- */
.account-tabs {
    gap: 15px;
}

.account-tabs .tablink.open .nav-link {
    border-radius: 16px!important;
    background-color: #121212;
    border: 1px solid #121212;
}

.account-tabs .nav-link:hover {
    border-radius: 16px!important;
    background-color: #fff!important;
    color: #121212!important;
    border: 1px solid #121212!important;
}

#accountTabs input, #accountTabs label {
    border-radius: 16px;
    font-family: 'Roboto';
}

#accountTabs .btn-block {
    border-radius: 50px;
    background-color: #121212;
    text-transform: capitalize;
}
#accountTabs .btn-block:hover {
    background-color: #fff;
    color: #121212;
    border: 1px solid #121212;
}
.template-addresses .btn-primary {
    border-radius: 50px;
    background-color: #121212;
    border: 1px solid #121212;
}
.template-addresses .btn-primary:hover {
    color: #121212;
    background-color: #fff;
    border: 1px solid #121212;
}
.template-addresses .btn-outline-primary {
    color: #121212;
    border-radius: 50px;
    border: 1px solid #121212;
}
.template-addresses .btn-outline-primary:hover {
    color: #fff;
    background-color: #121212;
    border: 1px solid #121212;
}
.template-addresses .card {
    border-radius: 16px;
}
.template-addresses .customer-form input, .template-addresses .customer-form label {
    border-radius: 16px;
    font-family: 'Roboto';
}
.template-addresses .customer-form select {
    border-radius: 16px;
    font-family: 'Roboto';
    height: 100%;
}
.template-addresses #address_form_new input, .template-addresses #address_form_new label {
    border-radius: 16px!important;
    font-family: 'Roboto';
}
.template-addresses #address_form_new select {
    border-radius: 16px!important;
    font-family: 'Roboto';
    height: 100%;
}

@media screen and (min-width: 768px) {
    
}
@media screen and (max-width: 767.98px) {
    
}
@media screen and (min-width: 992px) {
    .language-button {
        color: #fff;
    }

    .language-button.active {
        color: #fff;
        border-bottom: 1px solid;
    }
    .separator {
        color: #fff;
    }
}