.blog-banner-wrapper {
    max-height: 618px;
    height: 100%;
    width: 100%;
    aspect-ratio: 3/2;
}
.blog-banner-wrapper::after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}
.blog-banner-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.template-blog .blog-tag-bubble {
    border: 1px solid #37474F; 
    border-radius: 50px; 
    padding: 6px 18px; 
    font-size: 12px; 
    text-transform: capitalize; 
    width: fit-content;
    color: #37474F;
    font-weight: 400;
}
.template-blog .text-muted {
    font-size: 12px;
    margin-top: 15px;
}
.template-blog .gap-2 {
    gap: 0.5rem;
}
.sidebar-blog .card-tags .card-body {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.sidebar-blog .badge-pill {
    border: 1px solid #121212; 
    border-radius: 50px; 
    padding: 10px 20px!important; 
    font-size: 12px; 
    text-transform: capitalize; 
    width: fit-content;
}
.sidebar-blog .badge-pill a {
    color: #37474F!important;
}
.sidebar-blog .list-group-item {
    margin-bottom: 20px;
}
.blog-sidebar-img {
    height: 100%;
    width: 100%;
}
.blog-sidebar-img img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.template-blog .card-body {
    flex: 0 0 auto;
}
.template-blog .card-footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.article-body h2, .article-body h2 span  {
    font-size: 30px;
    margin-bottom: 20px;
  font-weight: 600!important;
}