.product-section .accordion__container.open .plus-icon-accordion, .product-section .accordion__container .minus-icon-accordion  {
    display: none;
}
.product-section .accordion__container.open .minus-icon-accordion {
    display: block;
}
.product-section .accordion__container .minus-icon-accordion, .product-section .accordion__container .plus-icon-accordion {
    margin: 0 20px;
}
.product-section slider-element .product-carousel {
    height: 100%;
}
.product-section slider-element .product-carousel .product--media {
    height: 100%;
}
.product-section slider-element .product-carousel .product--media img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.product-section slider-element .slider-navigation-wrapper {
    position: absolute;
    top: 50%;
}
.product-section slider-element .slider-navigation-wrapper .swiper-button-next, .swiper-button-next-popup {
    top: 0;
    transform: unset;
    right: 20px;
}
.product-section slider-element .slider-navigation-wrapper .swiper-button-prev, .swiper-button-prev-popup {
    top: 0;
    transform: unset;
    left: 20px;
}
.product-section .product-thumb--image {
    border-radius: 16px;
    max-height: 83px;
}
.product-section .product-thumb--image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.product-section .short-description {
    margin-top: 20px;
    font-size: 14px;
}
.product-section .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-section .product-wishlist-button a {
    background: black;
    padding: 18px 20px!important;
    border-radius: 10px;
    color: #fff!important;
    font-size: 22px!important;
}
.product-section .product-wishlist-button .heart-hulk-animation {
    margin: 0!important;
}
.product-section .product-form__input--dropdown {
    display: flex;
    align-items: center;
    border: 1px solid #ECEFF1;
    border-radius: 8px;
}
.product-section .product-form__input--dropdown label {
    text-align: center;
    margin: 0 !important;
    border-right: 1px solid #ECEFF1;
    color: #607D8B;
    font-size: 14px;
    text-transform: capitalize;
}
.product-section .product-form__input--dropdown select {
    border: 0;
    border-radius: 8px;
    color: #607D8B;
    font-weight: 500;
    font-size: 14px;
}
.product-section .product-form__input--dropdown select:focus {
    box-shadow: none;
}
.product-section .jdgm-preview-badge {
    margin: 30px 0;
}
.price-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.price-wrapper .h5 {
    font-weight: 600;
}
.price-wrapper .h6 {
    color: #607D8B;
    font-weight: 600;
    font-size: 20px;
}
.product-section .swatch-label {
    padding: 15px!important;
    border-radius: 16px;
}
.product-section .quantity {
    border: 0;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.product-section .quantity:focus {
    box-shadow: none;
    z-index: 1;
}
.product-section .quantity-wrapper .input-group-text {
    background: #131E27;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
}
.product-section .quantity-wrapper .input-group-text.disabled {
    border-radius: 16px;
    border: 2px solid #131E27;
    padding: 10px 15px;
    background: #fff;
}
.product-section .quantity-wrapper .input-group-text path {
    fill: #fff;
}
.product-section .quantity-wrapper .input-group-text.disabled path {
    fill: #131E27;
}
.product-section .quantity-wrapper {
    max-width: unset;
}
.product-section .btn-primary {
    border-radius: 50px;
    background-color: #131E27;
}
.product-section .btn-primary:hover {
    background-color: transparent;
}
.product-section .btn-primary:hover .add-text {
    color: #131E27;
}
.product-section .btn-primary .add-text {
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0;
}
.input-group-append {
    max-width: 58px;
    width: 100%;
}
.input-group-append .btn {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: transparent;
    border-left: none;
    border-color: #dee2e6;
    width: 100%;
}
.input-group-prepend .btn {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: transparent;
    border-right: none;
    border-color: #dee2e6;
}
.share-wishlist-container {
    gap: 15px;
}
#wishlisthero-product-page-button-container {
    padding-top: 0!important;
}
#wishlisthero-product-page-button-container span {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0;
}
#wishlisthero-product-page-button-container button {
    padding: 0!important;
}
#wishlisthero-product-page-button-container button span {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}
#wishlisthero-product-page-button-container button span svg[data-prefix="fas"] {
    color: rgba(244, 67, 54, 1);
}

.share-color span {
    color: #607d8b;
}
.featured-collection-slider .swiper-slide {
    align-items: start;
}
.featured-collection-slider .card-img a {
    height: 100%;
    width: 100%;
    position: unset!important;
    padding-top: 0!important;
}
.featured-collection-slider .card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover!important;
    position: unset!important;
    border-radius: 16px;
}

.featured-collection-slider .jdgm-preview-badge {
    display: none!important;
}
.featured-collection-slider .card-product .badges {
    padding: 10px 0 0 10px;
}
.featured-collection-slider .price {
    font-weight: 600;
}
.featured-collection-slider .price s {
    font-size: 14px;
    color: #607D8B;
}
.featured-collection-slider .icon-next, .featured-collection-slider .icon-previous {
    height: 40px;
    width: 40px;
    color: #90a4ae;
    border: 1px solid #90a4ae;;
}
.featured-collection-slider .icon-next::before, .featured-collection-slider .icon-previous::before {
    content: '';
}
#productAccordion .accordion__toggle {
    font-size: 1.1rem;
}
.wishlisthero-floating:hover {
    background-color: #ffffff7a!important;
}
.wishlisthero-floating:hover svg {
    color: #f44336;
}
.featured-collection-slider .wishlist-hero-custom-button {
    top: 5px;
    right: 10px;
}
@media only screen and (min-width:768px) {
    .product-section slider-element {
        height: 548px;
    }
    .featured-collection-slider .card-img {
        max-height: 318px;
    }
}
@media only screen and (max-width: 767.98px) {
    .slider-navigation-wrapper {
        display: none;
    }
    .product-thumbnails {
        margin-top: 20px;
    }
    .quantity-buybtn-wrapper {
        gap: 1rem;
    }
    .product-section .product-thumb--image {
        height: auto;
    }
}

html {
    scroll-padding-top: 130px;
    scroll-behavior: smooth;
}

@media screen and (min-width: 992px) {
    html {
        scroll-padding-top: 140px;
    }
}
