.products-slider-button {
    padding: 16px 32px 16px 32px;
    border-radius: 64px;
    max-height: 59px;
}
.heading-5 {
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
}
.ps .heading-5{
    margin-bottom:0px !important;
}
.heading-6 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb (84, 110, 122, 1);
}
.products-category-button {
    padding: 12px 20px 12px 20px;
    border-radius: 64px !important;
    max-height: 59px;
    background-color: #fff;
    color: rgba(84, 110, 122, 1);
}
.products-category-button.nav-link.active{
    background-color: rgba(37, 49, 76, 1) !important;
    color: #fff !important;
}
.products-category-button.active {
    font-weight: 400 !important;
}
.nav.products-category {
    --bs-nav-link-hover-color: rgba(37, 49, 76, 1) !important;
}
.border-radius-16 {
    border-radius: 16px;
}
.ps .swiper-slide img {
    max-width: 100%; /* Ensure images don't exceed the container width */
    height: auto; /* Allow images to maintain their aspect ratio */
}
.featured-media {
    border-radius: 16px;
    display: block!important;
    padding: 60% 50%;
    background-size: cover!important;
    height: auto;
    background-repeat: no-repeat!important;
    background-position: center center!important;
  }
  .tab {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.ps .slider-container {
    display: none;
}
.ps .swiper-slide {
    text-align: center;
    padding: 40px 0px;
}
.ps .swiper-slide {
    text-align: center;
    padding: 0px;
}
.padding-r-0 {
    padding-right: 0 !important;
}
.margin-x-1-percent {
    margin: 0 1%;
}
.slider-padding-top {
    padding-top: 40vh;
}
.gap-3 {
    gap: 1rem;
}
.product-slider-container {
    max-width: 1350px;
    margin: 0 auto !important;
}
.tab-button .products-slider-button.first {
    margin-left: 0;
}
.wishlist-hero-custom-button {
    position: absolute;
    top: 10px;
    right: 26px;
    background: #ffffff7a;
    border-radius: 50%;
    z-index: 1;
    padding: 6px 4px 5px 8px;
}
.wishlist-hero-custom-button svg[data-prefix="fas"] {
    color: #f44336; 
}

.letter-spacing-normal {
    letter-spacing: normal;
}
.homepage-video-element {
    min-height: 37.5rem;
}
@media (max-width: 768px) {
    .p-xs-sm-5 {
        padding: 5% !important;
    }
    .p-xs-sm-0 {
        padding: 0% !important;
    }
    .slider-padding-top{
        padding-top: 0vh;
    }
    .mb-xs-ms-10 {
        margin-bottom: 10px;
    }
    .pb-xs-sm-8 {
        padding-bottom: 3.5rem!important;
    }
}
@media (min-width: 768px) {
    .slider-padding-top {
        padding-top: 11rem;
    }
    .justify-content-md-normal {
        justify-content: normal !important;
    }
    .justify-content-md-between {
        justify-content: between !important;
    }
}
@media (min-width: 992px) {
    .slider-padding-top {
        padding-top: 15rem;
    }
}
@media (min-width: 1200px) {
    .slider-padding-top {
        padding-top: 18rem;
    }
}
@media (min-width: 1400px) {
    .slider-padding-top {
        padding-top: 22rem;
    }
}
@media (min-width: 1800px) {
    .slider-padding-top {
        padding-top: 18rem;
    }
}
@media (min-width: 1600px){
    .col-xxxl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
}
}